{% extends 'base.html' %}

{% block title %}Task Manager Position{% endblock %}

{% block content %}
<!-- Table name -->
<div class="d-flex position-relative justify-content-center align-items-center">
  <h2 class="text-center w-100">Position List</h2>
  <a href="#" class="btn-circle position-absolute" style="right: 0;" data-toggle="tooltip" title="Create New Position">
    <i class="fas fa-plus"></i>
  </a>
</div>

<table class="table text-white mb-0 table-custom">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for position in position_list %}
      <tr class="font-weight-normal">

        <!-- Task name -->
        <td class="align-middle">
          {{ position.name }}
        </td>

        <!-- Task Actions -->
        <td class="align-middle text-right">
          <a href="#" class="px-2" data-toggle="tooltip" title="Edit">
            <i class="fas fa-pen text-warning"></i>
          </a>
          <a href="#" class="px-2" data-toggle="tooltip" title="Remove">
            <i class="fas fa-trash-alt fa-lg text-danger"></i>
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6" class="text-center text-muted display-4">No positions available yet.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}