{% extends 'base.html' %}

{% block title %}Task Manager Task Type{% endblock %}

{% block content %}
<!-- Table name -->
<div class="d-flex position-relative justify-content-center align-items-center">
  <h2 class="text-center w-100">Task Type List</h2>
  <a href="{% url 'task_board:task-type-create' %}" class="btn-circle position-absolute" style="right: 0;" data-toggle="tooltip" title="Create New Task Type">
    <i class="fas fa-plus"></i>
  </a>
</div>

{% include "includes/search_form.html" %}

<table class="table text-white mb-0 table-custom">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col" class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task_type in task_type_list %}
      <tr class="font-weight-normal">

        <!-- Task name -->
        <td class="align-middle">
          {{ task_type.name }}
        </td>

        <!-- Task Actions -->
        <td class="align-middle text-right">
          <a href="{% url 'task_board:task-type-update' pk=task_type.id %}" class="px-2" data-toggle="tooltip" title="Edit">
            <i class="fas fa-pen text-warning"></i>
          </a>
          <a href="{% url 'task_board:task-type-delete' pk=task_type.id %}" class="px-2" data-toggle="tooltip" title="Remove">
            <i class="fas fa-trash-alt fa-lg text-danger"></i>
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6" class="text-center text-muted display-4">No task types available yet.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}