{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}{{ worker.first_name }} {{ worker.last_name }}{% endblock %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/styles_worker_detail.css' %}">
{% endblock %}
{% block content %}
  <!-- Table name -->
  <div class="d-flex position-relative justify-content-center align-items-center">
    <a href="{% url 'task_board:worker-list' %}" class="btn-circle position-absolute" style="left: 0;" data-toggle="tooltip" title="Back to worker list">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h2 class="text-center w-100">Worker Detail Info</h2>
    <div class="position-absolute" style="right: 0;">
      <a href="{% url 'task_board:worker-update' pk=worker.id %}" class="px-2 fa-lg" data-toggle="tooltip" title="Edit">
        <i class="fas fa-pen text-warning"></i>
      </a>
      <a href="{% url 'task_board:worker-delete' pk=worker.id %}" class="px-2 fa-lg" data-toggle="tooltip" title="Remove">
        <i class="fas fa-trash-alt fa-lg text-danger"></i>
      </a>
    </div>
  </div>
  <!-- Profile -->
  <div class="card-profile bg-dark text-white mt-4 pb-4 pt-2">
    <div class="card-body pb-0 ">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="text-center border-end">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
            <h4 class="text-primary font-size-20 mt-3 mb-2">{{ worker.first_name }} {{ worker.last_name }}</h4>
            <h5 class="text-muted font-size-13 mb-0">{{ worker.position }}</h5>
          </div>
        </div><!-- end col -->
        <div class="col-md-9">
          <div class="ms-3">
            <div>
              <h4 class="card-title mb-2">Biography</h4>
              <p class="mb-0">Hi I'm {{ worker.first_name }} and I work as a {{ worker.position }}.</p>
            </div>
            <div class="row my-4">
              <div class="col-md-12">
                <div class="mt-3 pt-1">
                  <p class="mb-0"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> 123 456 789</p>
                  <p class="mb-0 mt-2"><i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i> {{ worker.email }}</p>
                  <p class="mb-0 mt-2"><i class="mdi mdi-google-maps font-size-15 align-middle pe-2 text-primary"></i> France (Paris)</p>
                </div>
              </div><!-- end col -->
            </div><!-- end row -->
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end card body -->
  </div><!-- end card -->
  <hr class="mt-0">
  <table class="table text-white mb-0 table-custom">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Type</th>
        <th scope="col">Deadline</th>
        <th scope="col" class="text-center">Priority</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in page_obj %}
        <tr class="font-weight-normal">

          <!-- Task name -->
          <td class="align-middle">
            <a href="{{ task.get_absolute_url }}" title="Task">{{ task.name }}</a>
          </td>

          <!-- Task Type -->
          <td class="align-middle">{{ task.task_type }}</td>

          <!-- Task Deadline -->
          <td class="align-middle">
            {% if task.deadline %}
              {{ task.deadline }}
              <br>
              {% if not task.is_complete %}
                <span class="text-muted">({{ task.deadline|time_until }})</span>
              {% endif %}
            {% else %}
              No deadline
            {% endif %}
          </td>

          <!-- Task Priority -->
          <td class="align-middle text-center">
            <span class="mb-0">
              {% if task.priority == "Low" %}
                <i class="fas fa-circle text-success priority-icon"></i>
              {% elif task.priority == "Medium" %}
                <i class="fas fa-circle text-warning priority-icon"></i>
              {% elif task.priority == "High" %}
                <i class="fas fa-circle text-danger priority-icon"></i>
              {% endif %}
            </span>
          </td>

          <!-- Task Status -->
          <td class="align-middle text-center">
            {% if task.is_complete %}
              <span class="text-success font-weight-bold">Completed!</span>
            {% else %}
              <span class="text-warning font-weight-bold">Pending...</span>
            {% endif %}
          </td>

          <!-- Task Actions -->
          <td class="align-middle text-center">
            {% if task.is_complete %}
              <a href="#" class="px-2" data-toggle="tooltip" title="Pending">
                <i class="fas fa-times-circle fa-lg text-danger"></i>
              </a>
            {% else %}
              <a href="#" class="px-2" data-toggle="tooltip" title="Completed">
                <i class="fas fa-check-circle fa-lg text-success"></i>
              </a>
            {% endif %}
            <a href="#" class="px-2" data-toggle="tooltip" title="Edit">
              <i class="fas fa-pen text-warning"></i>
            </a>
            <a href="#" class="px-2" data-toggle="tooltip" title="Remove">
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center text-muted display-4">The worker doesn't have tasks yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}