asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.7
django-crispy-forms==2.4
django-debug-toolbar==5.0.1
execnet==2.1.1
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
iniconfig==2.1.0
mccabe==0.7.0
packaging==25.0
pep8-naming==0.13.2
pluggy==1.6.0
pycodestyle==2.9.1
pyflakes==2.5.0
pytest==8.3.5
pytest-django==4.11.1
python-dotenv==1.1.0
sqlparse==0.5.3
